/**
* Core Stylesheet for Hyde Zero
*/

@use '_torchlight.scss';

#main-navigation {
	position: absolute;
	top: 0;
	right: 0;
	ul {
		float: right;
		margin-top: 1em;
		margin-right: 1em;
		li {
			display: inline;
			margin-left: 1em;
		}
		a {
			opacity: 0.75;
			&:hover {
				opacity: 1;
			}
		}
	}
}

#post-article {
	max-width: 960px;
	#byline {
		margin-bottom: 1em;
		time, address, dl {
			display: inline;
			dt, dd {
				display: inline;
			}
		}
	}
	h2:first-child {
		margin-top: 0;
	}
}