# If you have a domain, you should set the URL here so that permalinks can be generated.
# SITE_URL=https://example.org

# If you want to use Torchlight.dev, enter your API token here to automatically enable it
# TORCHLIGHT_TOKEN=torch_

# If you want to change the default port of the realtime compiler server, you can do so here
# SERVER_PORT=8080
