/vendor
/node_modules
/.idea
/.vscode
/.vagrant
.phpunit.result.cache
/_site
StormRunner.php
.env


# The following entries are for files that should not be commited to the project repo
# though you may want to commit them when using Hyde for your own projects.
_posts/*
csout
_docs