/**
 * Styles for Torchlight
 *
 * Uses the styles from https://torchlight.dev/docs/css
 */
 
 .torchlight-enabled {
	pre {
		border-radius: 0.25rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		overflow-x: auto;
		padding: 0;

		code.torchlight {
			display: block;
			min-width: -webkit-max-content;
			min-width: -moz-max-content;
			min-width: max-content;
			padding-top: 1rem;
			padding-bottom: 1rem;

			.line {
				padding-left: 1rem;
				padding-right: 1rem;
			}

			.line-number,
			.summary-caret {
				margin-right: 1rem;
			}
		}
	}
}
