/**
* Core Stylesheet for Hyde Zero
*/

#main-navigation {
	ul {
		float: right;
		margin-top: 0;
		margin-right: 1em;
		li {
			display: inline;
			margin-left: 1em;
		}
	}
}

#post-article {
	max-width: 960px;
	#byline {
		margin-bottom: 1em;
		time, address, dl {
			display: inline;
			dt, dd {
				display: inline;
			}
		}
	}
}