/**
* Core Stylesheet for Hyde Zero
*/

@use '_torchlight.scss';

#main-navigation {
	ul {
		float: right;
		margin-right: 1em;
		li {
			display: inline;
			margin-left: 1em;
		}
		a {
			opacity: 0.75;
			&:hover, &.current {
				opacity: 1;
			}
		}
	}
}

#post-article {
	max-width: 960px;
	#byline {
		margin-bottom: 1em;
		time, address, dl {
			display: inline;
			dt, dd {
				display: inline;
			}
		}
	}
	h2:first-child {
		margin-top: 0;
	}
}

#sidebar-navigation, #mobile-navigation {
	li.list-item-active {
		a {
			border-left: 4px solid #5956eb;
			padding-left: calc(1rem - 4px);
			margin-left: -1rem;
			padding-top: 0.25rem;
			padding-bottom: 0.25rem;
			color: #5956eb;
		}
	}
}

#documentation-sidebar {
	@media (max-width: 360px) {
		width: 100%;
    }
}

#documentation-content {
    max-width: 100vw;
    @media (min-width: 768px) {
        max-width: calc(100vw - 20rem);
    }

    code {
        max-width: 80vw;
        overflow-x: auto;
        display: inline-block;
        vertical-align: top;
    }

	pre {
		code {
			display: block;
			max-width: unset;
		}
	}
}

#sidebar-backdrop {
	width: 100vw;
	height: 100vh;
	background: rgba(128, 128, 128, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	cursor: pointer;
}

.sidebar-button-wrapper {
	&.open {
		button.close {
			display: none;
		}
	}
	&.closed {
		button.open {
			display: none;
		}
	}
}

// Bump contrast of the primary link color
.text-indigo-500, .hover\:text-indigo-500:hover {
	color: #5956eb;
}