/*
* This file is loaded into your Hyde/Hyde installation and is used to generate the styles for your project. 
* You can use this file to customize your TailwindCSS or to add new classes.
*
* The HydeFront package contains some base styles to make your site look even more amazing. 
*
* The compiled result of this file is shipped with HydePHP and is found at _media/app.css,
* so you don't need to compile this file unless you're making changes.
*
* If you want, you can load the compiled file with minified styles for a base install from the CDN.
* See https://hydephp.com/docs/master/managing-assets#loading-from-cdn
*/

@import '~hydefront/dist/hyde.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }
