.flex {display: flex;}
.block {display: block;}
.inline {display: inline;}
.hidden {display: none;}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.justify-between {justify-content: space-between!important;}


.vertical-spacing {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.small-vertical-spacing {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
