@use '_rapid.scss';
@use '_utilities.scss';

main {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    background: gainsboro;
    border-right: 1px solid gray;
    overflow: visible;
}
nav ul li a:hover, nav ul li a:focus, nav ul li a.active {
    background: lightgray;
}
nav ul li:last-child a {
    border-right: none;
}

.center, header:not(.not-center) {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.not-center {
    text-align: left;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.prose {
    max-width: 65ch;
}

#project-overview {
    max-width: fit-content;
    table {
        width: 100%;
    }
}

#pages {
    td {
        &:first-child {
            border-right: none;
            padding-right: 0.25rem;
        }
        &:nth-child(2) {
            border-left: none;
            padding-left: 0.25rem;
        }
        img {
            width: 16px;
            height: 16px;
            overflow: hidden;
            display: block;
        }
    }
}
